frontend/node_modules/
frontend/build/
frontend/.env

backend/venv/
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/.env

.DS_Store
.vscode/
*.log

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Dependency directories
node_modules/