.container {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
}

.toggle-history-button {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.history-box {
    max-width: 30%;
    margin-right: 20px;
    /* background-color: rgba(255, 255, 255, 0.048); */
    /* background: linear-gradient(135deg, #434268, #855b7d); */
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 15px 25px rgba(24, 23, 23, 0.2);
}
.history-box:hover {
    
    
    background: linear-gradient(135deg, #454B79, #855b7d);
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* border-radius: 15px;
    padding: 10px;
    box-shadow: 0 15px 25px rgba(24, 23, 23, 0.2); */
}

.input-and-chat {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.input-and-chat.with-history {
    width: 70%;
}

.input-and-chat.without-history {
    width: 100%;
}

.message-input {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    flex-shrink: 0;
}

.chat-box {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    padding: 20px;
    max-height: 600px;
    overflow-y: auto;
    flex-grow: 1;
}

.current-step, .all-tasks-completed {
    color: white;
}

.message-container {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 10px;
    color: white;
}
